.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-radius: 50px;
    z-index: 3;
}

.username {
    margin: 0px;
    font-family: "Quicksand";
    font-size: 28px;
    margin-right: 10px;
    color: rgb(245, 245, 245);
    font-weight: bold;
}

.openMenuButton {
    background-color: rgb(100, 100, 100);
    border-radius: 100px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    border: 0;
}

.openMenuButton:hover {
    background-color: rgb(120, 120, 120);
}

.menu {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(215, 215, 215);
    border-top: none;
    top: 90px;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
    height: fit-content;
    width: 200px;
    z-index: 2;
}

.menuHidden {
    display: none;
}

.navigateToUserSettingsButton {
    border: none;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.navigateToUserSettingsButtonText {
    width: 100%;
    font-family: "Quicksand";
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(210, 210, 210);
}

.navigateToUserSettingsButton:hover {
    background-color: rgb(245, 245, 245);
}

.logoutButton {
    background-color: rgb(0, 153, 255);
    border-radius: 10px;
    height: 35px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: "Quicksand";
    font-size: 16px;
    font-weight: bold;
}

.logoutButton:hover {
    background-color: rgb(0, 138, 230);
}

@media only screen and (max-width: 650px) {
    .username {
        font-size: 22px;
        max-width: 220px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .openMenuButton {
        height: 43px;
        width: 43px;
    }
}

@media only screen and (max-width: 500px) {
    .username {
        font-size: 20px;
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .openMenuButton {
        height: 38px;
        width: 38px;
    }

    .menu {
        right: calc(50% - 116px);
    }
}

@media only screen and (max-width: 450px) {
    .username {
        font-size: 16px;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .openMenuButton {
        height: 34px;
        width: 34px;
    }

    .menu {
        right: calc(50% - 116px);
    }
}

@media only screen and (max-width: 350px) {
    .username {
        font-size: 14px;
        max-width: 95px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .openMenuButton {
        height: 30px;
        width: 30px;
    }

    .menu {
        right: calc(50% - 116px);
    }
}

@media only screen and (max-width: 320px) {
    .username {
        font-size: 14px;
        max-width: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .openMenuButton {
        height: 30px;
        width: 30px;
    }

    .menu {
        right: calc(50% - 116px);
    }
}