.mainContainer {
    height: calc(100% - 115px);
    width: 100%;
}

.noMessagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.noMessagesText {
    background-color: white;
    padding: 30px 40px 30px 40px;
    font-family: "Quicksand";
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
}

.messageListContainer {
    height: calc(100% - 30px);
    padding: 15px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
    background-color: white;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.userMessageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

.messageTopContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.usernameAndTimestampContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userUsernameAndTimestampContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.usernameText {
    font-family: "Quicksand";
    font-size: 18px;
    color: rgb(60, 60, 60);
    margin: 0;
    margin-right: 10px;
}

.userUsernameText {
    font-family: "Quicksand";
    font-size: 18px;
    color: rgb(60, 60, 60);
    margin: 0;
    margin-left: 10px;
}

.timestamp {
    font-family: "Quicksand";
    margin: 10px 0px 5px 0px;
    font-size: 14px;
    color: rgb(120, 120, 120);
    margin: 0;
}

.messageText {
    background-color: rgb(56, 119, 255);
    width: fit-content;
    color: white;
    font-family: "Quicksand";
    word-wrap: break-word;
    max-width: calc(100% - 15px);
    padding: 8px;
    margin: 5px 0px 10px 0px;
    border-radius: 10px;
    font-size: 16px;
}

.userMessageText {
    background-color: rgb(230, 230, 230);
    width: fit-content;
    color: rgb(50, 50, 50);
    font-family: "Quicksand";
    word-wrap: break-word;
    max-width: calc(100% - 15px);
    padding: 8px;
    margin: 5px 0px 10px 0px;
    border-radius: 10px;
    font-size: 16px;
}