.mainContainer {
    width: 100%;
    height: 100%;
    background-color: white;
}

.navigateToMainPageButton {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 20px 30px 20px 30px;
    background-color: white;
}

.navigateToMainPageButtonText {
    margin-left: 10px;
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 16px;
}

.openDeleteUserMenuButtonContainer {
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 10px;
}

.openMenuButton {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: rgb(255, 50, 50);
    cursor: pointer;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
}

.openMenuButton:hover {
    background-color: rgb(193, 36, 36);
}

.openMenuButtonText {
    font-family: "Quicksand";
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: white;
}

.openMenuButtonIcon {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
}

.iconContainer {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menuContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.3);
    z-index: 1;
}

.hiddenMenuContainer {
    display: none;
}

.contentContainer {
    position: absolute;
    height: fit-content;
    padding-bottom: 30px;
    width: 300px;
    top: calc(50% - 200px);
    left: calc(50% - 150px);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topTitle {
    margin: 10px;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Quicksand";
    font-weight: bold;
}

.closeButton {
    border-radius: 100px;
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    margin-right: 20px;
    background-color: rgb(240, 240, 240);
}

.closeButton:hover {
    background-color: rgb(230, 230, 230);
}

.notificationText {
    margin: 0;
    padding: 0;
    color: rgb(255, 50, 50);
    font-family: "Quicksand";
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.deleteButton {
    width: calc(100% - 30px);
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    padding: 10px 15px 10px 15px;
    font-family: "Quicksand";
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.10);
    background-color: rgb(255, 50, 50);
}

.deleteButton:hover {
    background-color: rgb(193, 36, 36);
}