.mainContainer {
    height: calc(100% - 149px);
    width: 100%;
}

.noMessagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.noMessagesText {
    background-color: white;
    padding: 30px 40px 30px 40px;
    font-family: "Quicksand";
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid rgb(230, 230, 230);
}

.messageListContainer {
    height: calc(100% - 32px);
    padding: 15px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.userMessageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

.messageTopContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.usernameAndTimestampContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userUsernameAndTimestampContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.usernameText {
    font-family: "Quicksand";
    font-size: 20px;
    color: rgb(80, 80, 80);
    margin: 0;
    margin-right: 10px;
    font-weight: bold;
}

.userUsernameText {
    font-family: "Quicksand";
    font-size: 20px;
    color: rgb(80, 80, 80);
    margin: 0;
    margin-left: 10px;
    font-weight: bold;
}

.timestamp {
    font-family: "Quicksand";
    margin: 10px 0px 5px 0px;
    font-size: 14px;
    color: rgb(180, 180, 180);
    margin: 0;
    font-weight: bold;
}

.messageText {
    background: rgb(56, 119, 255);
    background: linear-gradient(300deg, rgba(56, 119, 255, 1) 35%, rgba(56, 145, 255, 1) 100%);
    width: fit-content;
    color: rgb(250, 250, 250);
    font-family: "Quicksand";
    word-wrap: break-word;
    max-width: calc(100% - 15px);
    max-width: 90%;
    padding: 8px;
    margin: 5px 0px 10px 0px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.userMessageText {
    background-color: rgb(255, 255, 255);
    width: fit-content;
    color: rgb(90, 90, 90);
    font-family: "Quicksand";
    word-wrap: break-word;
    max-width: calc(100% - 15px);
    max-width: 90%;
    padding: 8px;
    margin: 5px 0px 10px 0px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgb(230, 230, 230);
}

.messageText>span>a {
    color: rgb(255, 255, 255);
}

.userMessageText>span>a {
    color: rgb(90, 90, 90);
}

.newMessagesInfoText {
    font-family: "Quicksand";
    margin: 0;
    text-align: center;
    color: rgb(80, 80, 80);
    font-size: 14px;
    font-weight: bold;
}

@media only screen and (max-width: 400px) {
    .usernameText {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .userUsernameText {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 350px) {
    .usernameText {
        max-width: 105px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .userUsernameText {
        max-width: 105px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 300px) {
    .usernameText {
        max-width: 90px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .userUsernameText {
        max-width: 90px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}