.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 50px;
    padding: 20px;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logoText {
    margin: 0px;
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 32px;
    color: rgb(60, 60, 60);
}
