.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    border-radius: 50px;
}

.username {
    margin: 0px;
    font-family: "Quicksand";
    font-size: 22px;
    margin-right: 10px;
    color: rgb(60, 60, 60);
    font-weight: bold;
}

.openMenuButton {
    background-color: rgb(200, 200, 200);
    border-radius: 100px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    border: 0;
}

.openMenuButton:hover {
    background-color: rgb(180, 180, 180);
}

.menu {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 90px;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
    height: fit-content;
    width: 200px;
    z-index: 2;
}

.menuHidden {
    display: none;
}

.navigateToUserSettingsButton {
    border: none;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.navigateToUserSettingsButtonText {
    width: 100%;
    font-family: "Quicksand";
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.navigateToUserSettingsButton:hover {
    background-color: rgb(245, 245, 245);
}

.logoutButton {
    width: 100%;
    border: none;
    border-top: 3px solid black;
    padding: 10px;
    font-family: "Quicksand";
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    background-color: rgb(240, 240, 240);
}

.logoutButton:hover {
    background-color: rgb(230, 230, 230);
}