.mainContainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 40px);
    margin-top: 10px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 15px;
    background-color: white;
}

.chatIconContainer {
    background-color: rgb(200, 200, 200);
    border-radius: 100px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 10px;
}

.selectedChatIconContainer {
    background-color: rgb(56, 119, 255);
    border-radius: 100px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 10px;
}

.typeText {
    font-family: 'Quicksand';
    font-size: 13px;
    margin: 0;
    color: rgb(150, 150, 150);
    font-weight: bold;
}

.titleText {
    font-family: 'Quicksand';
    font-size: 16px;
    color: rgb(60, 60, 60);
    margin: 0;
    font-weight: bold;
}