.mainContainer {
    display: inline-block;
}

.hiddenMainContainer {
    display: none;
}

.openMenuButton {
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(230, 230, 230);
}

.openMenuButton:hover {
    background-color: rgb(240, 240, 240);
}

.menuContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.3);
    z-index: 3;
}

.hiddenMenuContainer {
    display: none;
}

.contentContainer {
    position: absolute;
    height: 400px;
    padding-bottom: 30px;
    width: 300px;
    top: calc(50% - 200px);
    left: calc(50% - 150px);
    background-color: white;
    border-radius: 10px;
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topTitle {
    margin: 10px;
    margin-left: 15px;
    font-size: 20px;
    font-family: "Quicksand";
    font-weight: bold;
}

.closeButton {
    border-radius: 100px;
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    margin-right: 15px;
    background-color: rgb(240, 240, 240);
}

.closeButton:hover {
    background-color: rgb(230, 230, 230);
}

@media only screen and (max-width: 340px) {
    .contentContainer {
        width: 260px;
        top: calc(50% - 200px);
        left: calc(50% - 130px);
    }
}